#logoAM{
	max-width: 25%;
	height: auto;
	border-right: solid #81C135;
}

h1{
	color: #2059A6;
	margin-left: 10px;
	margin: auto;
}

#logoMarianne{
	max-width: 25%;
	height: auto;
	border-left: solid #81C135;
	float: right;
	padding: 10px;
}

header{
	display: flex;
	border: solid #81C135;
}

body{
	align-items: center;
}