<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <ejb-local-ref>
        <ejb-ref-name>ageBenSndsClairFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <ejb-link>#AgeBenSndsClairFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>benResRegClairFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <ejb-link>#BenResRegClairFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>beneficiaireFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <ejb-link>#BeneficiaireFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>executantFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <ejb-link>#ExecutantFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>dateTraitementFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <ejb-link>#DateTraitementFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>indicateursFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <ejb-link>#IndicateursFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>prsNatClairFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <ejb-link>#PrsNatClairFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>prestationFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <ejb-link>#PrestationFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>pseSpeSndsClairFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <ejb-link>#PseSpeSndsClairFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>prsPpuSecClairFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <ejb-link>#PrsPpuSecClairFacade</ejb-link>
    </ejb-local-ref>
</web-app>
